<div class="approval-container">
  <h3>รายการขออนุมัติการลา</h3>

  <mat-card *ngFor="let request of leaveRequests">
    <mat-card-header>
      <mat-card-title>{{ request.user.username }}</mat-card-title>
      <mat-card-subtitle>{{ request.leaveType.name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>จำนวนวัน:</strong> {{ request.days }} วัน</p>
      <p><strong>วันที่เริ่มต้น:</strong> {{ request.startDate }}</p>
      <p><strong>วันที่สิ้นสุด:</strong> {{ request.endDate }}</p>
      <p><strong>เหตุผล:</strong> {{ request.reason }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="rejectLeave(request)">ไม่อนุมัติ</button>
      <button mat-raised-button color="primary" (click)="approveLeave(request)">อนุมัติ</button>
    </mat-card-actions>
  </mat-card>
</div>
